@import "./variables.scss";
[data-theme="dark"] {
  color: white;
  background-color: var(--color-neutral-900);
  .chakra-card  {
    background-color: var(--color-neutral-700);
  }
  .chakra-input__group  {
    background-color: var(--color-neutral-800);
  }
}

[data-theme="light"] {
  color: var(--color-neutral-900);
  .chakra-card  {
    background-color: var(--color-neutral-200);
    .chakra-input__group  {
      background-color: var(--color-neutral-200);
    }
  }
}