@import "./variables.scss";

.dash-box {
  @apply rounded-2xl p-24 overflow-hidden;
}
tbody tr {
  @apply font-medium;
  border-bottom: 1px solid var(--color-neutral-600) !important;
  &:last-child {
    border: none !important;
  }
}
thead {
  @apply text-xs-normal;
  color: var(--color-neutral-500);
}
.bread-crumb-item {
  @apply text-xs-normal;
  color: var(--color-neutral-500);
}
[data-theme="dark"] {
  color: white;
  background-color: var(--color-neutral-900);
  .dash-box {
    background-color: var(--color-neutral-700);
  }
  .chakra-input__group  {
    background-color: var(--color-neutral-800);
  }
  .outline-gradient {
    color: white;
  }
}

[data-theme="light"] {
  color: var(--color-neutral-900);
  .dash-box {
    background-color: var(--color-neutral-200);
  }
  .chakra-input__group  {
    background-color: var(--color-neutral-200);
  }
  tbody tr {
    border-bottom: 1px solid var(--color-neutral-300) !important;
    &:last-child {
      border: none !important;
    }
  }
}